<div>
  <div style="background-color:#AA3939 !important; color:black !mportant;" class="jumbotron jumbotron-fluid">
    <div class="container black-text">
      <h1 class="text-center display-4 black-text">Contact Us</h1>
    </div>
  </div>
</div>

<div class="container contact">

    <div class="d-flex justify-content-center">
      <form id="secondForm" method="get" action="" novalidate="novalidate">
        <div id="thankyoublock-innerwrapper">
          <div class="secondFormCloseWrap">
            <a (click)='joinMailing();'>x</a>
          </div>
          <div id="secondary-list-values" class="secondary-list-values">


            <div class="mlist-field mlist-field1">

              <label for="firstname">First name</label>

              <input id="firstname" name="firstname" type="text">

            </div>

            <div class="mlist-field mlist-field1">

              <label for="firstname">Last name</label>

              <input id="firstname" name="firstname" type="text">

            </div>

            <div class="mlist-field mlist-field1">

              <label for="firstname">Email </label>

              <input id="firstname" name="firstname" type="email">

            </div>

            <div class="mlist-field mlist-field1">

              <label for="firstname">Comment </label>

              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>



            <input id="mainListId" name="newsletterId" type="hidden" value="14075551">
            <div class="mlist-checks">
              <input type="checkbox" class="global-list-checkbox" name="newsletterId" value="50">
              <label class="global-list" for="global-list">Sign me up to discover more artists like <span class="artist-inline">Roddy&nbsp;Ricch</span> and other offers.</label>
            </div>
          </div>
          <div class="mlist-submit-new">
            <input class="submit" type="submit" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
