<div>
  <div style="background-color:#EA4335 !important; color:black !mportant;" class="jumbotron jumbotron-fluid">
    <div class="container black-text">
      <h1 class="text-center display-4 black-text">Contact Us</h1>
    </div>
  </div>
</div>


    <div class="d-flex justify-content-center">
      <form id="secondForm">
          <div id="thankyoublock-innerwrapper">
            <div class="secondFormCloseWrap">
              <a>x</a>
            </div>
            <div id="secondary-list-values" class="secondary-list-values">
              <div class="form-group mlist-field mlist-field1">

                <label for="firstname">First name</label>

                <input id="firstname" name="firstname" type="text">

              </div>

              <div class="form-group mlist-field mlist-field1">

                <label for="firstname">Last name</label>

                <input id="firstname" name="firstname" type="text">

              </div>

              <div class="form-group mlist-field mlist-field1">

                <label for="firstname">Email </label>

                <input id="firstname" name="firstname" type="email">

              </div>

              <div class="form-group mlist-field mlist-field1">

                <label for="firstname">Comment </label>

                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>

              <div class="form-group mlist-checks">
                <input type="checkbox" class="global-list-checkbox" name="newsletterId" value="50">
                <label class="global-list" for="global-list">Sign me up to discover more from <span class="artist-inline">Muni&nbsp;Banks</span> and other offers.</label>
              </div>
            </div>
            <div class="form-group mlist-submit-new">
              <input class="submit" type="submit" value="Submit">
            </div>
          </div>

      </form>
    </div>
