
<div>
    <div style="background-color:#AA3939 !important; color:black !important;" class="jumbotron jumbotron-fluid">
        <div class="container black-text">
            <h1 class="text-center display-4 black-text">Haze Billz</h1>

        </div>
    </div>
</div>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 style="color: white !important; font-family:'Open Sans', sans-serif;" class="font-weight-light">Synonyms Volume 1</h1>
        <div class="banner-links-container">
          <a class="button-white w-inline-block" href="/tour-2" target="_blank">
            <div>
              Download
            </div>
          </a>
        </div>

        <div class="mlistContent">

          <div class="mlist-outer-wrapper embedded-inline-list country-detect customPageName">

            <div class="mlist-wrapper">

            <form class="join-button-form" id="splashPageSignup" method="get" action="" autocomplete="off" novalidate="novalidate">
                <fieldset>
                  <div class="firstFormOverll">
                    <div class="mlist-header">
                      join my mailing list
                    </div>
                    <div class="firstform">
                      <div class="mlist-field email">
                        <input id="email" name="email" tabindex="-1" type="email" placeholder="Email Address" onfocus="this.placeholder=''" class="m-required m-email">
                      </div>

                      <div class="dummySubmit">
                        <a class="icon-go-arrow arrow-link"><i class="fas fa-arrow-right"></i></a>

                      </div>

                      <div class="mlist-submit">

                        <input class="submit" type="submit" value="SUBSCRIBE">

                      </div>

                    </div>

                  </div>

                </fieldset>



              </form>
            </div>

          </div>

        </div>


      </div>
      </div>
    </div>
</header>








