
<div>
  <div style="background-color:#AA3939 !important; color:black !important;" class="jumbotron jumbotron-fluid">
    <div class="container black-text">
      <h1 class="text-center display-4 black-text">Haze Billz</h1>

    </div>
  </div>
</div>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 style="color: white !important; font-family:'Open Sans', sans-serif;" class="font-weight-light">Synonyms Volume 1</h1>
        <div class="banner-links-container">
          <a class="button-white w-inline-block" href="/tour-2" target="_blank">
            <div>
              Download
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>