<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<div> 
<div>
  <div style="background-color:#AA3939 !important; color:black !mportant;" class="jumbotron jumbotron-fluid">
    <div class="container black-text">
      <h1 class="text-center display-4 black-text">Events</h1>
    </div>
  </div>
</div>

  <div class="col-xs-12">
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
    <div class="row date-row">
      <div class="col-lg-2 col-sm-2 col-xxs-2">
        <div class="h4">19</div>
        <div class="h6">Mar</div>
      </div>
      <div class="col-lg-7 col-sm-10 col-xxs-10">
        <div class="h2">Dublin, Ireland</div>
        <div class="h3">3Arena</div>
      </div>
      <div class="col-lg-3 col-sm-12 col-xxs-12 col-xxs-push-2 col-sm-push-2 col-lg-push-0">
        <a href="https://www.ticketmaster.ie/artist/1319371" target="_blank">
          <div class="ticket-button">
            <span class="fas fa-ticket-alt"></span>
            <span>Purchase</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
