<div>
  <div style="background-color:#EA4335 !important; color:black !mportant;" class="jumbotron jumbotron-fluid">
    <div class="container black-text">
      <h1 class="text-center display-4 black-text">Videos</h1>
    </div>
  </div>
</div>

<div style="margin-left:40px;">
  <figure class="half">
    <iframe src="https://www.youtube.com/embed/R6H0NX6XuF8"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/JZi0mZlvOJ4"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/pPxYX4Iq3cA"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/nZwJpTYT2vA"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/XsBQZCN4ryw"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/QNFiO4HpiWE"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/BwDHcKGyCtg"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <iframe src="https://www.youtube.com/embed/m53JjZ7LffU"
            frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </figure>
</div>


