/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  font-family: futura-pt, sans-serif !important;
}

.jumbotron {
  color: black !important;
  padding: 0px !important;
  border-bottom: white solid 5px;
  border-top: white solid 5px;

}

.main-navigation
{
  display:block;

}


.navbar-toggler-icon {
  color: white !important;
}

h1 {
  color: white !important;
}

h2 {
  color: white !important;
}



body {
  background-color: black !important;
  min-height: 100% !important;
}

div {
  color: whitesmoke;
}

.category-box {
  text-align: center;
  height: 430px;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

img {
  height: 450px;
  top: 20px;
}

